<!DOCTYPE html>
<html>
<head>

  <title>Blog</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= stylesheet_link_tag 'application', 'http://fonts.googleapis.com/css?family=Raleway:400,700' %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= favicon_link_tag 'favicon.icon' %>
  <%= csrf_meta_tags %>

</head>
<body>

  <div id="sidebar">
    <div id="logo" class="img-responsive">
      <%= link_to root_path do %>
        <%= image_tag "unnamed-2.svg" %>
      <% end %>
    </div>

    <ul>
      <li class="category">Website</li>
      <li class="category"><a href="http://www.djkelmanson.info">Portfolio</li>
      <li class="category"><%= link_to "All Posts", root_path %>
    </ul>

    <ul>
      <li class="category">Social</li>
      <li class="category"><a href="https://twitter.com/KelmansonDj">Twitter</a></li>
      <li class="category"><a href="https://www.linkedin.com/in/derek-kelmanson-49965541">LinkedIn</a></li>
      <li class="category"><a href="https://plus.google.com/u/0/111860017997673801924/posts">Google +</a></li>
      <li class="category"><a href="https://www.instagram.com/djkelmanson/">Instagram</a></li>
      <li class="category"><a href="https://github.com/deejkelms">GitHub</a></li>
      <li class="category"><a href="mailto:dkelmanson@gmail.com">Email</a></li>
    </ul>

    <% if !user_signed_in? %>
    			<p class="sign_in"><%= link_to "Admin Login", new_user_session_path %></p>
    <% end %>

  </div>

  <div id="main_content">
		<div id="header">
			<% if current_page?(root_path) %>
				<p>All Posts</p>
			<% elsif current_page?(about_path) %>
				<p>About</p>
			<% else %>
				<%= link_to "Back to All Posts", root_path %>
			<% end %>

			<% if user_signed_in? %>
				<div class="buttons">
					<button class="button"><%= link_to "New Post", new_post_path %></button>
					<button class="button">Log Out</button>
				</div>
			<% end %>
		</div>

		<% flash.each do |name, msg| %>
			<%= content_tag(:div, msg, class: "alert") %>
		<% end %>

		<%= yield %>
	</div>
</body>
</html>
